@import url("https://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap");
@import url("https://fonts.cdnfonts.com/css/callie-chalk-font");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

/* GLOBAL */
body {
  /* background: #2e382e; */
  background: rgba(46, 56, 46);
  color: #f4ebe2;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 5% auto;
}

main {
  padding-top: 50px;
}

a {
  text-decoration: none;
}

header {
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

nav .logo {
  width: 150px;
}

h4,
p,
a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

h1,
h2,
h3,
label {
  font-family: "Quintessential", serif;
  text-transform: capitalize;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav ul a {
  color: #f4ebe2;
  padding: 0 20px;
  font-size: 0.8em;
  transition: 0.5s ease all;
}

nav ul a:hover {
  color: rgba(46, 56, 46);
  border-bottom: 1px solid rgba(46, 56, 46);
} */

nav ul a {
  color: #f4ebe2;
  padding: 10px 24px;
  font-size: 0.8em;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

/* Border elements */
nav ul a::before,
nav ul a::after {
  content: "";
  position: absolute;
  background-color: rgba(46, 56, 46);
  transition: transform 0.3s ease;
}

/* Left border */
nav ul a::before {
  width: 2px;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: top;
}

/* Bottom border */
nav ul a::after {
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
}

nav ul a:hover {
  color: rgba(46, 56, 46);
}

nav ul a:hover::before {
  transform: scaleY(1);
}

nav ul a:hover::after {
  transform: scaleX(1);
}
nav .rsvp a {
  background: #fff;
  padding: 10px 20px;
  display: block;
  align-self: center;
  color: black;
  border: 2px solid white;
}

nav .rsvp a:hover {
  background: none;
  color: white;
  transition: all 0.3s;
}

footer {
  background: #111;
  padding: 20px 0;
}

.btn {
  color: #2e382e;
  padding: 10px 40px;
  background: #f4ebe2;
  border: 2px solid #f4ebe2;
}

.btn:hover {
  /* color: #2e382e; */
  /* background: #f4ebe2; */
  color: #f4ebe2;
  background: #2e382e;
  transition: 0.2s ease-out;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  font-size: 5em;
  padding: 0;
  position: relative;
  top: 25%;
}

.page-title h1 {
  padding: 10px 30px;
}

/* HOME */
body.home {
  background-image: url(./assets/DMSP4NFINAL_websize.jpg);
  background-position: center;
}

.home h1 {
  font-size: 5em;
  /* margin-top: -200px; */
  padding: 0;
}

body.home main div,
.countdown p {
  padding: 20px;
}

body.home main {
  /* background: rgb(244, 235, 226, 0.9); */
  background: rgb(46, 56, 46, 0.9);
  width: 100%;
  /* color: #2e382e; */
  color: rgb(244, 235, 226);
  display: flex;
  flex-direction: column;
  /* border-radius: 400px 400px 0 0; */
  /* position: relative; */
}

body.home .icon {
  width: 50px;
}

.home main div {
  margin: 0 auto;
}

.home main a {
  color: rgb(244, 235, 226);
  text-decoration: underline;
}

.countdown {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/* homepage polaroid hanger */
.polaroid {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
}

.polaroid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 10px solid white;
  position: relative;
  margin: 15px;
}

.message {
  width: 80%;
  max-width: 1000px;
}

/* STORY PAGE */
.story header {
  background-image: url(./assets/DMSP1FINAL_websize.jpg);
  background-position: center;
}

.story main h1 {
  font-size: 1.8em;
}

.daily-prophet {
  background-image: url(./assets/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #222;
  padding: 50px;
  width: 70%;
  max-width: 800px;
  margin: 10% auto;
}

.daily-prophet div:first-of-type {
  display: flex;
  border-top: 5px double black;
  border-bottom: 5px double black;
  justify-content: space-evenly;
  align-items: center;
}

.daily-prophet div:first-of-type p {
  width: 30%;
}

.daily-prophet p {
  text-align: left;
}

.big-letter::first-letter {
  font-family: "Harry Potter", sans-serif;
  initial-letter: 2;
  margin-right: 5px;
}
.daily-prophet div:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.daily-prophet div:nth-of-type(2) h3 {
  width: 40%;
  background: #222;
  color: #fff;
  padding: 0;
}

.story main h2 {
  font-family: "Harry Potter", sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
}
.story h2 span {
  color: #bba53d;
}

.story h3 {
  font-family: "Harry Potter", sans-serif;
}
/* dicey shit let's see how it goes */

/* CREW */
.crew section {
  padding: 50px 0;
  text-transform: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-wrap: wrapped;
  margin: 30px;
  position: relative;
}

.crew section .page,
.crew section .page-2 {
  width: 48vw;
}

.crew header {
  background-image: url(./assets/DMSP3FINAL_websize.jpg);
}

.crew .page {
  /* background: linear-gradient(to right, #e0c9a6 92%, #696355 100%); */
  padding-bottom: 50px;
  border-radius: 20px;
  background-image: url("./assets/paper.jpg");
  background-size: cover;
  margin-right: 5px;
  position: relative;
}

.crew .page::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: -0%;
  width: 300px;
  height: 400px;
  background-image: url("./assets/flower.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-40deg);
}

.crew .page::after {
  content: "";
  position: absolute;
  top: -20%;
  right: -5%;
  width: 300px;
  height: 400px;
  background-image: url("./assets/yellow-bug.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.crew .page-2 {
  /* background: linear-gradient(to left, #e0c9a6 95%, #696355 100%); */
  padding-bottom: 50px;
  border-radius: 20px;
  background-image: url("./assets/paper.jpg");
  background-size: cover;
  margin-left: 5px;
}

.crew .page h2,
.crew .page-2 h2 {
  color: black;
  background: #ffeecc;
  font-family: "Permanent Marker", cursive;
  width: 200px;
  transform: rotate(-5deg);
  margin: 5%;
}

.spine {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  z-index: 2;
}

.spine div {
  height: 10px;
  width: 60px;
  margin: 10px 0;
  background: linear-gradient(to bottom, #555, #333);
  border-radius: 40% 40% 0 0 / 100% 100% 0 0;
  transform: rotateX(20deg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5),
    /* external shadow */ inset 0 2px 3px rgba(255, 255, 255, 0.5),
    /* top light edge */ inset 0 -1px 2px rgba(0, 0, 0, 0.7); /* bottom shadow edge */
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50vw;
  margin: 0 auto;
}

.cards li {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  padding: 10px;
  width: 150px;
  min-width: 150px;
  height: 200px;
  background: #fff;
  color: #000;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
}

.cards li:nth-of-type(1) {
  transform: rotate(10deg);
}

.cards li:nth-of-type(2) {
  transform: rotate(5deg);
}

.cards li:nth-of-type(3) {
  transform: rotate(-10deg);
}

.cards li:nth-of-type(4) {
  transform: rotate(5deg);
}

.cards li:nth-of-type(5) {
  transform: rotate(-5deg);
}

.cards li:last-of-type {
  transform: rotate(20deg);
}

.cards h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
}

.cards .card-image {
  background: url(./assets/moody-eerie-chatgpt.jpeg);
  width: 140px;
  object-fit: cover;
}

.crew-image {
  max-width: 130px;
  max-height: 150px;
  object-fit: contain;
  overflow: hidden;
}

.show {
  opacity: 1;
}

.icon,
.crew .icon {
  width: 50px;
  height: 50px;
  padding-top: 50px;
}

/* Q&A */
.faq header {
  background-image: url(./assets/hands.jpg);
}

.faq .notes {
  background: #f4ebe2;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
  padding: 20px;
}

.faq .notes li {
  margin: 20px;
  color: #111;
  border-bottom: 1px solid black;
  position: relative;
}

.faq .notes ol li {
  border: none;
}

.tab input {
  position: absolute;
  opacity: 0;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.tab input:checked ~ .tab-content {
  max-height: 20rem;
}

.tab-label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.tab-label .fas {
  position: absolute;
  top: 0;
  right: 0;
}

.tab input:checked + .tab-label .fas {
  transform: rotate(-180deg);
}

/* EVENT DETAILS */
.event header {
  background-image: url(./assets/DBN24final_1.jpg);
  background-position: top;
  position: relative;
}

.event section {
  text-align: left;
  display: flex;
  position: relative;
}

.event section div:last-of-type {
  padding: 0 20px;
}

.event section div:first-of-type {
  border-right: #f4ebe2 solid 5px;
  width: 300px;
  min-width: 300px;
  text-align: right;
  padding: 0 20px;
  position: relative;
}

/* rewriting the dot */
.event section div:first-of-type::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background: #f4ebe2;
  position: absolute;
  top: 30%;
  right: -3%;
  border-radius: 50%;
}

/* WELCOME PAGE */
.welcome {
  background-image: url(./assets/DMSP5NFINAL_websize.jpg);
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(226, 224, 211, 0) 0%,
    rgba(0, 0, 0, 0.8687850140056023) 100%
  );
}

.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250.625em;
  height: 203.8em;
  background: url(https://terriotech.com/cloud-overlay.png) 0 100% repeat-x;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
  z-index: 2;
  pointer-events: none;
  height: 43.75em;
}
@-webkit-keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.welcome .banner-text {
  z-index: 1000;
}

.typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  /* font: 800 50px "Callie Chalk Font"; */
  font-size: 3em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 2s steps(22) forwards, blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* mobile responsive bar */
.mobile-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  color: black;
}

.mobile-bar a {
  width: 100%;
  margin: 20px auto;
  font-size: 2em;
  margin: 15px;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 1.5em;
}

.burger-open {
  display: none;
}

@media (max-width: 1100px) {
  .crew section {
    flex-direction: column;
  }

  .crew section .page,
  .crew section .page-2 {
    width: 80vw;
    margin: 10px auto;
  }

  .spine {
    display: none;
  }

  .cards li {
    width: 130px;
    min-width: 130px;
  }
}

@media (max-width: 800px) {
  .home h1 {
    font-size: 3em;
  }

  .hide-on-mobile {
    display: none;
  }

  .burger {
    display: block;
  }

  nav ul a:hover {
    color: inherit;
  }

  nav ul a::before,
  nav ul a::after {
    display: none;
  }

  .page-title {
    font-size: 3em;
    top: 45%;
  }
  .polaroid img {
    margin: 10px auto;
  }

  .event section div {
    font-size: 0.6em;
  }

  .event section div:first-of-type {
    border-right: #f4ebe2 solid 2px;
    width: 40%;
    min-width: 40%;
  }
  .event section div:first-of-type::after {
    right: -6px;
    top: 30%;
    width: 10px;
    height: 10px;
  }

  .tab input:checked ~ .tab-content {
    max-height: 40rem;
  }
}

@media (max-width: 500px) {
  .home h1 {
    font-size: 2em;
  }

  .polaroid img {
    width: 150px;
    height: 150px;
    border: 5px solid white;
  }

  .mobile-bar {
    width: 100%;
  }

  .page-title,
  .story main h2 {
    font-size: 2em;
  }

  .event section div:first-of-type::after {
    top: 20%;
  }

  .crew .page::before,
  .crew .page::after {
    display: none;
  }

  .tab .tab-label {
    width: 90%;
  }
}
